{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h1>Produits dans la catégorie : {{ category.name }}</h1>

    <ul>
        {% for product in products %}
            <li>
                <a href="{{ path('product_show', {id: product.id}) }}">
                    {{ product.name }} - {{ product.price|number_format(2, '.', ' ') }} €
                </a>
            </li>
        {% else %}
            <li>Aucun produit trouvé.</li>
        {% endfor %}
    </ul>
{% endblock %}
