{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1 class="text-center mb-4">Créer un compte</h1>

            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.firstName) }}
                {{ form_row(registrationForm.lastName) }}
                {{ form_row(registrationForm.phone) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword.first) }}
                {{ form_row(registrationForm.plainPassword.second) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-primary w-100 mt-3">S'inscrire</button>
            {{ form_end(registrationForm) }}

            <p class="text-center mt-3">
                👤 Déjà inscrit ? 
                <a href="{{ path('app_login') }}">Connectez-vous ici</a>
            </p>

        </div>
    </div>
</div>
{% endblock %}
